.workspace {
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 0;
	right: 0;

	.settingsBar {
		display: flex;
		justify-content: flex-end;
		flex-shrink: 0;

		width: 100%;
		height: @headerHeight - 10;
		padding: 10px;
		background-color: @dark-grey;

		z-index: 50;
		overflow: hidden;

		transition: left 0.45s linear;

		.settingsEl {
			display: flex;
			justify-content: center;
			align-items: center;

			padding: 0 10px;
			border-left: 1px solid @dark;

			color: @light-grey;
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;

			cursor: pointer;
			transition: color 0.25s ease;

			[class^="icon-"] {
				margin: 0 5px;

				font-size: 11px;

				cursor: pointer;
			}

			&:hover {
				color: white;
			}

			&--unavailable {
				color: @unavailable-grey;
				cursor: default;

				&:hover {
					color: @unavailable-grey;
				}

				[class^="icon-"] {
					cursor: default;
				}
			}

			&--zoom {
				color: white;

				[class^="icon-"] {
					transition: none;
				}

				.icon-magnifier {
					color: @light-grey;

					font-size: 14px;

					cursor: default;

					&:hover {
						color: @light-grey;
					}
				}
			}
		}
	}

	.canvas {
		&__intro {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%);

			color: @grey;
			font-size: 25px;
			font-weight: 700;
			text-align: center;

			-webkit-user-select: none;
			user-select: none;
			z-index: 90;

			.big {
				font-size: 80px;
			}

			&__title {
				display: flex;
				align-items: center;

				margin-top: 15px;
			}

			&__btn {
				margin-left: 10px;

				line-height: 36px;

				cursor: pointer;
				transition: color 450ms linear;

				&:hover {
					color: @light-grey;
				}
			}
		}
	}

	.canvas-container{
		position: absolute!important;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}
}
