@import '../utils/flexboxgrid';

.wall {
	&__container {
		margin: 0;
	}
}

.picture {
	position: relative;
	height: 250px;
	padding: 0;

	background: #ffffff;

	overflow: hidden;

	&:hover {
		.picture__meta {
			bottom: 0;
		}
	}

	&__featured {
		position: absolute;
		width: 100%;
		height: 100%;

		background-size: cover;
		background-position: center;
	}

	&__meta {
		position: absolute;
		bottom: -70px;
		left: 0;

		width: 100%;
		padding: 10px;
		margin: 0;
		background-color: rgba(0,0,0,0.5);

		color: white;

		&--active {
			bottom: 0;
		}

		&__title {
			font-size: 18px;
			line-height: 32px;
			font-weight: 300;
		}

		&__date {
			font-size: 12px;
		}

		&__icon {
			font-size: 18px;
			cursor: pointer;
		}
	}
}